%table.profile
  %tr
    %td.main  
      %h1
        = gravatar_for @user, :size => 50
        = @user.name
      - if @user.microposts.any?
        %table.microposts
          = render @microposts
        = will_paginate @microposts
    %td.sidebar.round
      = render "shared/user_info"
